$heading: 'Orbitron', sans-serif;
$body-text: 'Helvetica', sans-serif;
$blue: #48C8FF !default;
$purple: #BD34FE !default;
$dark: #242424 !default;
$light: #E3E3E3 !default;
$yellow: #FFDF41;
$orange: #FFA800;