@use '../../styles/colours' as *;

@mixin gradient-yellow-orange {
    background: -webkit-linear-gradient(45deg, $yellow, $orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    padding-top: 3rem;

    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .logo {
        padding: 1rem;
    }

    svg {
        width: 4rem;
    }

    header {
        padding: 1rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    
        h1 {
            margin: 0;
            line-height: 100%;
        }
    
        h3 {
            margin: 0;
        }
    }    
}

@media screen and (min-width: 900px) {
    .home {
        display: grid;
        grid-template-columns: auto 80%;
        align-content: center;
        gap: 0;
    
        .logo {
            padding: 1.6rem 0.5rem;
            justify-self: end;
        }

        svg {
            width: 5rem;
        }

         header {
    
            h1 {
                font-size: 6rem;
            }
        
            h3 {
                font-size: 3rem;
            }
        }   
    }
}