@use '../../styles/colours' as *;

.products-page {
    img {
        border-radius: 0.6rem;
    }

    h4, p {
        font-family: $body-text;
        font-weight: 800;
        color: $light;
    }

    h4 {
        font-size: 1rem;
        margin: 0.7rem 0 0.3rem 0.3rem;
    }

    p {
        font-size: 0.8rem;
        margin: 0 0.3rem;
    }

    .card {
        margin-bottom: 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .products {
        padding: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.4rem;
    }

    .error {
       color: $light;
       font-family: $body-text; 

       padding: 1rem;
    }

    .productFilter {
        padding: 1rem;
        margin-top: 7rem;
    
        display: flex;
        gap: 2rem;
    }
}

@media screen and (min-width: 900px) {
    .products-page {
        h4 {
            font-size: 1.5rem;
            margin: 0.7rem 0 0.7rem 0.3rem;
        }
    
        p {
            font-size: 1.1rem;
        }

        form {
            margin-top: 8rem;

            select {
                width: 10rem;
                font-size: 1.2rem;
            }
        }

        .products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}